body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}
.form-box {
    background: white;
    padding: 30px;
    margin: auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}
input, select {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}
button {
    padding: 10px 20px;
    background-color: #00b894;
    color: white;
    border: none;
    border-radius: 5px;
}